version: '3.8'

services:
  spine1:
    image: frrouting/frr:v7.5.1
    container_name: spine1
    hostname: spine1
    privileged: true
    sysctls:
      - net.ipv4.ip_forward=1
    volumes:
      - ./configs/spine1:/etc/frr:rw
    command: /sbin/init
    restart: always

  spine2:
    image: frrouting/frr:v7.5.1
    container_name: spine2
    hostname: spine2
    privileged: true
    sysctls:
      - net.ipv4.ip_forward=1
    volumes:
      - ./configs/spine2:/etc/frr:rw
    command: /sbin/init
    restart: always

  leaf1:
    image: frrouting/frr:v7.5.1
    container_name: leaf1
    hostname: leaf1
    privileged: true
    sysctls:
      - net.ipv4.ip_forward=1
    volumes:
      - ./configs/leaf1:/etc/frr:rw
    command: /sbin/init
    restart: always

  leaf2:
    image: frrouting/frr:v7.5.1
    container_name: leaf2
    hostname: leaf2
    privileged: true
    sysctls:
      - net.ipv4.ip_forward=1
    volumes:
      - ./configs/leaf2:/etc/frr:rw
    command: /sbin/init
    restart: always

  server1:
    image: alpine:latest
    container_name: server1
    hostname: server1
    command: sleep infinity
    restart: always

  server2:
    image: alpine:latest
    container_name: server2
    hostname: server2
    command: sleep infinity
    restart: always

networks:
  default:
    driver: bridge
